asn1crypto==0.24.0
beautifulsoup4==4.6.3
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
crypto==1.4.1
cryptography==2.4.2
Django==2.2.20
django-crispy-forms==1.7.2
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
jsonify==0.5
jwt==0.5.4
MarkupSafe==1.1.0
mysql-connector==2.2.9
mysql-connector-python==8.0.16
Naked==0.1.31
numpy==1.16.3
Pillow==6.1.0
pycparser==2.19
PyJWT==1.7.0
pytz==2019.1
PyYAML==3.13
requests==2.20.1
shellescape==3.4.1
six==1.11.0
SQLAlchemy==1.2.14
sqlparse==0.3.0
urllib3==1.24.1
Werkzeug==0.14.1
